<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: #121920;
        }
        .profile{
            margin: 0;
            padding: 0;
            height: 100vh;
        }
    </style>
    <title>Home</title>
</head>
<body >
   {{> Navbar}}
    <div class="profile"> 
        <h3>Welcome to Flight Booking System</h3>
    </div>
</body>
</html>