<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Register.css">
    <title>Document</title>

</head>
<body>
    <fieldset>
         {{#if msg}}
            <h1 class="{{msgtype}}">{{msg}}</h1>
        
        {{/if}}
        <form action="/api/v1/Login" method="post">
            <div>
            <input type="email" placeholder="Email Address" name="email"><br><br>
            <input type="password" placeholder="Password" name="password"><br><br>
            <a href="/forgetpassword">Forget Password ?</a><br>
            <input type="submit" value="Login"><br>
            
            <a href="/register">Sign Up</a>
            </div>
        </form>
    </fieldset>
    
</body>
</html>