<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Profile.css">
    <title>Profile</title>
</head>
<body >
   {{> Navbar}}
    <div class="profile"> 
        <img src="/images/p1.jpg" alt="" width="250px">
        <h1>Details</h1><hr>
        <h2>Name:{{Name}}</h2>
        <h3>Nationality:{{Nationality}}</h3>
        <h3>Email:{{Email}}</h3>
        {{#if admin}}
            <h2>Your are Admin</h2>
        {{/if}}
    </div>
</body>
</html>